<div class="row">
  <div class="result large-8 columns" style="color:black">
    <h2>Startups this week</h2>
      <div style="font-size:0.9em">
	      <% @articles.each do |article| %>
	        <% next if article.headline.include? "startups in Asia that caught" %>
	        <% if (Time.now - 604800).to_date <= article.date && article.startup == true %>
	          <% if article.summary %>
			        ###NUMBER. [STARTUP | <%= article.country %>](<a href="<%= article.url %>"><%= article.url %></a>)
			        <br><br>
			        <% article.summary.each do |sentence| %>
	              <%= sentence %>&nbsp;
	            <% end %>
			        <br><br>
			        ***
			        <br><br>
		          <% end %>
		        <% end %>
	      <% end %>
	    </div>
  </div>
</div>