<div class="row">
  <div class="result large-12 columns">
    <% wp = Rubypress::Client.new(:host => "techinasia.com", :username => @username, :password => @password) %>
    <% wp.newPost(:blog_id => "0", 
    			  :content => {:post_status => "draft", :post_title => @wptitle, :post_content => @wpbody}, 
    			  :terms_names => {:post_tag => ["China"]}
    			 ) %>
    
    <p>Your article has been drafted on WordPress. <a href="http://www.techinasia.com/wp-admin/edit.php" target="_blank">Check it out</a>.</p><br>
    <p><strong>Categories:</strong> Asia</p>
    <p><strong>Tags:</strong> China, China This Week</p>
    <p><strong>URL:</strong> china-tech-news-<<%= Date.today.strftime("%d-%B-%Y") %></p>
    <p><strong>SEO description:</strong> Here are the most-read China tech developments in the past week. (<%= Date.today.strftime("%d %B %Y") %>)</p>
    <p>Remember to set featured image.</p>
  </div>
</div>